html,
body {
  height: 100%;
}

body {
  align-items: center;
  -webkit-align-items: center;
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(224,224,224,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(224,224,224,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(224,224,224,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(224,224,224,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(224,224,224,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(224,224,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=1 );
  color: #b21877;
  display: flex;
  display: -webkit-flex;
  font-family: Arial, serif;
  font-size: 5vw;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 0 0.1em;
}

p {
  margin: 0;
  text-align: center;
}

header {
  margin-bottom: 1.33em;
}

a {
  color: inherit;
  display: block;
  min-height: 44px;
  line-height: 44px;
  text-decoration: none;
}

nav {
  bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 2em;
  position: absolute;
  right: 2em;
}
